{% extends 'BackOfficeBundle::base.html.twig' %}

{% block body %}
    <h2 class="blue">Deplacement list</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td> <a href="{{path('back_office_deplacement_show',{id:user.id})}}" class="badge badge-primary"> Detail </a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
