{% extends 'FrontOfficeBundle::base.html.twig' %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" value="Modifier" type="button" class="btn btn-success">Modifier</button>
{{ form_end(form) }}

<a href="{{path('show_month',{idMonth:idMonth,month:month,year:year,idUser:idUser})}}"> <button type="submit" value="Back" type="button" class="btn btn-primary">Return</button></a>

{% endblock body %}
