{% extends 'FrontOfficeBundle::base.html.twig' %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" value="Ajouter" type="button" class="btn btn-success">Modifier</button>
{{ form_end(form) }}

<a href="{{path('user_main_page',{id:id})}}"> <button type="submit" value="Ajouter" type="button" class="btn btn-primary">Return</button></a>

{% endblock body %}
