{% extends "FrontOfficeBundle::base.html.twig" %}

{% block body %}
<table class="table table-bordered">
<thead>
  <tr>
    <th scope="col" colspan="2">Date</th>
    <th scope="col">Utilisation du vélo</th>
    <th scope="col">Commentaires</th>
    <th scope="col">Nb Kilomètres en vélo</th>
    <th scope="col">Indémnisation</th>
  </tr>
</thead>
<tbody>
  {% for i in 1..nbdays %}
  <tr>
    <td>{{date("l",mktime(0,0,0,month,i,year))}}</td>
    <td>{{i}}</td>
  </tr>
  {% endfor %}
</tbody>
{% endblock body %}
